  ---
  import { slugify } from '../utils';
  import FormattedDate from './FormattedDate.astro';
  import type { CollectionEntry } from 'astro:content';

  type BlogPost = CollectionEntry<'blog'>;
  const { post }: Record<string, any> | { post: BlogPost } = Astro.props
  ---
  <div class="transition-colors duration-300 hover:bg-blue-200 rounded">
    <div class="flex flex-col sm:flex-row border-b py-1 border-b-zinc-700">
      <!-- First column (tags) -->
      <div class="w-48 flex gap-2 shrink-0">
        {post.data.tags?.map((tag) => (
          <a
            class="border-zinc-300 rounded-2xl mt-3
                  text-[14px] text-zinc-700 no-underline px-2 py-0.5
                  transition-all duration-700
                  hover:border-zinc-700"
            href={`/tags/${slugify(tag)}`}>
            {tag}
          </a>
        ))}
      </div>

      <!-- Second column (title, date, etc.) -->
      <div class="grow">
        <h3 class="text-[24px] text-[#0000FF] font-medium normal-case mt-2">
          <a href={`/${post.slug}/`}>{post.data.title}</a>
        </h3>
        <!-- <div class="text-zinc-700 text-[14px] text-[#ffffff] w-24 shrink-0">
          <FormattedDate date={post.data.pubDate} />
        </div> -->
        <p class="text-[14px] mb-4 line-clamp-2 normal-case">
          {post.data.description || post.data.excerpt || 'No preview available...'}
        </p>
      </div>
    </div>

  </div>
